:root {
  --fs-13: 1.3rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-24: 2.4rem;
  --fs-30: 3rem;
  --fs-36: 3.6rem;

  --textColor-gen: #555;
  --textColor-gen-dark: #333;
  --textColor-gen-darker: #111;
  --textColor-gen-light: #777;
  --textColor-gen-lighter: #999;
  --textColor-gen-lighter-translucent: rgb(153, 153, 153, 0.14);
  --mainColor-dark: rgb(133, 73, 21);
  --mainColor-light: #fdf2e9;
  --mainColor-translucent: rgb(230, 126, 34, 0.4);
  --mainColor: #e67e22;
  --white: #fff;

  --shadow1: 0px 0px 26px 3px rgba(207, 199, 207, 1);

  --navbar-height: 7rem;
}
