.register {
  font-family: 'Rubik', serif;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.mainWrapper {
  padding: 18rem 0;
}
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow1);
  width: fit-content;
  padding: 6.4rem;
}

.registerForm > span,
.sideWrapper > span {
  font-size: var(--fs-36);
  font-weight: 600;
  margin-bottom: 4.8rem;
}

.registerForm-username,
.registerForm-email,
.registerForm-password {
  padding: 1.8rem 3rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--textColor-gen-lighter-translucent);
  font-size: var(--fs-18);
  margin-bottom: 2rem;
  border: 0.5rem solid var(--white);
  width: 32rem;
  letter-spacing: 0.5px;
}

.registerForm-password {
  padding-right: 4rem;
}

.registerForm-username::placeholder,
.registerForm-email::placeholder,
.registerForm-password::placeholder {
  color: var(--textColor-gen-light);
  font-weight: 500;
  font-family: 'Rubik', serif;
  letter-spacing: 0.5px;
}

.registerForm-email:focus,
.registerForm-username:focus,
.registerForm-password:focus {
  border: 0.5rem solid var(--mainColor-translucent);
  outline: none;
}

.registerBtn,
.sideWrapperBtn {
  font-family: inherit;
  font-size: var(--fs-20);
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--white);
  background-color: var(--mainColor);
  border: none;
  border-radius: 2rem;
  padding: 1rem 6.4rem;
  margin-top: 2rem;
  cursor: pointer;
}

.registerForm-passwordContainer {
  position: relative;
}

.registerForm-passwordEye {
  position: absolute;
  top: calc(0.5rem + (100% - 2rem - 1rem) / 2);
  right: 0;
  transform: translate(-70%, -50%);
  z-index: 1;
  cursor: pointer;
  opacity: 0.9;
  font-size: var(--fs-16);
}

.sideWrapper {
  padding: 0 6.4rem;
  background-color: var(--mainColor-light);
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sideWrapper > span {
  margin-bottom: 1rem;
}

.sideWrapper > p {
  text-align: center;
  line-height: 1.6;
}

.sideWrapperBtn {
  margin-top: 4.8rem;
  background-color: var(--mainColor-dark);
}
