.footer {
  /* padding: 4.8rem 0 9.6rem 0; */
  /* border-top: 2px solid var(--textColor-gen-lighter-translucent); */
  font-family: 'Rubik', sans-serif;
  font-size: var(--fs-13);
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  padding: 3.2rem 0;
  width: auto;
  flex-wrap: wrap;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  transition: all 0.3s;
  color: var(--textColor-gen);
}

.footer-link:hover,
.footer-link:active {
  color: #767676;
}
