.App {
  font-family: 'Source Serif Pro', serif;
  color: var(--textColor-gen);
  font-size: var(--fs-20);
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.specialContainerWrapper {
  width: 80rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
